header {
            background-image: url(https://www.shutterstock.com/image-illustration/abstract-blue-yellow-orange-soft-600nw-2627720405.jpg);
            background-size: cover;
        }

        h1 {
            text-align: center;
        }